.header {
    position: fixed;
    top: 0;
    background: #fff;
    min-width: 100vw;
    height: 20vh;
    z-index: 100;
    padding: 4vw;
}

.header_inner {
    display: flex;
    padding: 2% 0;
}

.title {
    font-size: 5vh;
    flex: 1;
    margin: auto;
    padding-left: 20px;
}

nav {
    position: relative;
    display: flex;
    flex: 5;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.menu-item {
    position: relative;
    color: #626261;
    display: inline-block;
    flex: 1;
    text-align: center;
}

.menu-btn {
    text-align: center;
    flex: 1;
}

.nav-link {
    font-size: 14px;
    color: #626261;
}

.nav-btn {
    float: left;
}

.btn:hover {
    cursor: pointer;
    background: #0c9066;
}

#pedir {
    text-align: center;
}

#check {
    display: none;
}

@media screen and (min-width: 768px) {
    .checkbtn,
    #check {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .title {
        font-size: 30px;
    }
    .header {
        max-height: 80px;
        line-height: 25px;
    }
    .header-inner {
        padding-top: 25px;
        padding-bottom: 25px;
        line-height: 50px;
    }
    .checkbtn {
        display: block;
        padding: 5px 0;
    }
    #nav {
        position: fixed;
        width: 60%;
        height: 100vh;
        background: rgb(255, 255, 255);
        top: -100%;
        right: 0;
        text-align: center;
        transition: all .6s;
    }
    .menu {
        display: block;
    }
    .menu-item {
        position: relative;
        color: #626261;
        display: block;
        flex: 1;
        text-align: center;
        line-height: 100%;
        padding: 6vh 5px;
    }
    .menu-item a {
        font-size: 20px;
    }
    .nav-btn {
        float: none;
    }
    .menu-btn {
        position: relative;
        bottom: 0;
        right: 0;
        padding: 10%;
    }
    #check:checked~#nav {
        top: 80px;
    }
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 30px;
        flex: 2;
        margin: auto;
        padding-left: 40px;
    }
    nav {
        position: relative;
        display: flex;
        flex: 5;
        flex-wrap: wrap;
    }
    .menu {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .menu-item {
        position: relative;
        color: #626261;
        display: inline-block;
        padding: 10px 5px;
        flex: 1;
        text-align: center;
    }
    .menu-btn {
        flex: 1;
    }
    .nav-btn,
    .nav-link {
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .nav-link {
        font-size: 14px;
        color: #626261;
    }
    .nav-btn {
        float: left;
    }
    .btn:hover {
        cursor: pointer;
        background: #0c9066;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        padding: 3vw;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        padding: 2vw;
    }
}