/* || general setup */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/* || typography */

.pointer:hover {
    cursor: pointer;
}

body {
    color: #000;
    font-family: sans-serif;
    width: 100%;
}

header {
    z-index: 100;
    display: block;
    position: fixed;
    width: 100%;
    height: 100px;
    background: #fff;
    padding: 15px 0 20px;
    -webkit-box-shadow: 0px 4px 19px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 4px 19px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 19px 1px rgba(0, 0, 0, 0.1);
}

.header_inner {
    height: 65px;
    padding: 0 15px;
    margin: 0 35px;
    display: flex;
}

.title {
    font-size: 28px;
    flex: 2;
    padding-left: 40px;
}

.menu-wrapper {
    display: flex;
    flex: 3;
}

nav {
    display: flex;
    flex: 3;
    font-family: 'Rubik', sans-serif;
}

.menu {
    display: flex;
    list-style: none;
    height: 100%;
    padding: 15px 0;
    width: 100%;
}

.menu-item {
    position: relative;
    color: #626261;
    display: inline-block;
    padding: 10px 0;
    flex: 1;
    text-align: center;
}

.menu-item--link {
    font-size: 14px;
    color: #626261;
}

.btn-wrapper {
    flex: 1;
    padding: 15px 0;
}

.menu-btn {
    text-align: center;
    background: #00cb8c;
    color: #fff;
    border-radius: 20px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    height: 100%;
    width: 120px;
}

.sections {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-1 {
    z-index: 10;
    background: #5c8296;
    width: 100%;
    height: 670px;
    padding: 200px 0 220px;
}

.section-2 {
    width: 100%;
    height: 35px;
    background: #971b32;
}

.section-3 {
    z-index: 10;
    background: #f52c52;
    width: 100%;
    height: 770px;
}

.section-3--div {
    height: 140px;
    text-align: center;
    padding: 80px 0 20px;
}

.section-3--div h1 {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 46px;
}

.panel-wrapper {
    display: flex;
    height: 60%;
    padding: 40px 0;
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.panel {
    background: #fff;
    flex: 1;
    width: 100%;
    margin: 0;
    border-radius: 10px;
    margin: 0px 10px;
}


/* 
.title:hover {
    color: rgb(5, 219, 181);
}

.btn {
    color: #000;
    position: absolute;
    right: 20px;
    top: 40%;
    z-index: 30;
}

.nav__ul {
    background: rgb(0, 137, 159);
    background: radial-gradient(circle, rgba(0, 137, 159, 1) 10%, rgba(17, 93, 164, 1) 100%);
    font-family: 'Dosis', sans-serif;
    display: none;
    visibility: hidden;
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 85px;
    z-index: 50;
}

.nav li i {
    font-size: 20px;
    width: 20px;
}

.inicio {
    list-style-type: none;
    position: relative;
    border-bottom: 2px solid #fff;
    padding: 5px 15px;
    margin-bottom: 10px;
}

.promos {
    list-style-type: none;
    position: relative;
    border-bottom: 2px solid #fff;
    padding: 5px 15px;
    margin-bottom: 10px;
}

.nosotros {
    list-style-type: none;
    position: relative;
    border-bottom: 2px solid #fff;
    padding: 5px 15px;
    margin-bottom: 10px;
}

.li-span {
    margin-left: 8px;
}

.nav__a {}

.fecha-box {
    background: rgb(25, 179, 181);
    background: radial-gradient(circle, rgba(25, 179, 181, 1) 8%, rgba(160, 255, 149, 1) 100%);
    border-radius: 10px;
    word-spacing: 2px;
    position: relative;
    top: 95px;
    max-width: 90%;
    margin: auto;
    padding: 10px 8px;
    z-index: 20;
    box-shadow: 0px 10px 18px #004769cc;
    opacity: 0.9;
}

.delivery {
    font-family: 'Dosis', sans-serif;
    color: #fff;
    position: relative;
    font-size: 18px;
}

@keyframes ease {} */


/* .fecha {
    font-family: 'Dosis', sans-serif;
    color: #fff;
    position: relative;
    font-size: 18px;
    text-align: center;
    float: right;
}

.options {
    font-family: 'Dosis', sans-serif;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 150px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1.3fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    z-index: 40;
}

.option-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 20px #00476944;
    opacity: 0.8;
}

.option-title {
    background: rgb(0, 137, 159);
    background: radial-gradient(circle, rgba(0, 137, 159, 1) 10%, rgba(17, 93, 164, 1) 100%);
    border-radius: 10px 10px 0 0;
    color: #eee;
    padding: 5px 10px;
    text-align: center;
}

.option1 {
    list-style-type: none;
    color: #000;
    font-size: 15px;
    padding: 12px 50px 12px 8px;
}

.option2 {
    list-style-type: none;
    color: #000;
    font-size: 15px;
    padding: 12px 50px 12px 8px;
}

.option3 {
    list-style-type: none;
    color: #000;
    font-size: 15px;
    padding: 12px 50px 12px 8px;
}

.option4 {
    list-style-type: none;
    color: #000;
    font-size: 15px;
    padding: 12px 50px 12px 8px;
}

.pedir-btn {
    background: #000;
    position: absolute;
    margin: auto;
    padding: 5px 20px 5px 25px;
    border-radius: 20px 5px 15px 20px;
} */


/*
.call {
    background-image: linear-gradient(to right bottom, #115da4, #0083c6, #00aae1, #00d1f4, #00f7ff);
    border-radius: 12px;
    box-shadow: 0px 5px 5px 0 #000b;
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 800;
    padding: 5px 20px;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 10px 40px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    opacity: 0.8;
    z-index: 30;
}
*/


/* || form layout 

.flex-container {
    align-items: center;
    background: #444;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding: 25px;
}

.form__map {
    max-height: 100%;
    max-width: 100%;
    padding-right: 25px;
}

.form {
    text-align: center;
}

.form-input {
    background: transparent;
    border: none;
    border-bottom: 3px solid rgb(5, 219, 181);
    color: #fff;
    margin: 6px 0;
    transition: all 0.3s ease 0s;
    width: 100%;
}

.form-input:focus {
    background: linear-gradient(to bottom, transparent, #333);
    border-bottom: 3px solid #fff;
    outline: none;
}

.form textarea {
    min-height: 140px;
    resize: none;
}

.form-input[type="submit"] {
    background-color: rgba(5, 219, 181, 0.7);
    border-bottom: none;
    padding: 12px;
}

.form-input[type="submit"]:hover {
    background: rgba(5, 219, 181, 0.3);
    border-bottom: none;
    cursor: pointer;
    padding: 12px;
}
*/


/* ---------- FOOTER ---------- 

.footer {
    color: #fff;
    font-size: 12px;
    padding: 5px 0;
    position: relative;
    margin-left: 25px;
    border: none;
}*/

@media only screen and (min-width: 375px) {}