/* || general setup */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    color: #000;
    font-family: sans-serif;
    width: 100%;
}

nav {
    display: flex;
    flex: 3;
    font-family: 'Rubik', sans-serif;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

textarea {
    overflow: auto;
}


/* || Utilities */

.rubik {
    font-family: 'Rubik', sans-serif;
}

.bold {
    font-weight: bold;
}


/* || Content */

.wrapper {
    display: grid;
    width: 100%;
    margin: 0 auto;
    justify-items: stretch;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 16vh auto 40vh;
}

.header {
    z-index: 100;
    position: fixed;
    background: #fff;
    width: 100%;
    height: 16vh;
    padding: 3vh;
}

.main {
    grid-column: 1 / span 12;
    grid-row: 2 / 3;
    background: #5c8296;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #000;
    grid-row: 3;
    grid-column: 1 / span 12;
    color: #fff;
}


/* || Header */

.header_inner {
    height: 100%;
    display: flex;
}

.title {
    font-size: 3vw;
    flex: 2;
    text-align: center;
    margin: auto;
}

.menu-wrapper {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    height: 100%;
    padding: 15px 0;
    width: 100%;
}

.menu-item {
    position: relative;
    color: #626261;
    display: inline-block;
    padding: 10px 0;
    flex: 1;
    text-align: center;
}

.menu-item--link {
    font-size: 14px;
    color: #626261;
}

.btn-wrapper {
    flex: 1;
    text-align: center;
}

.menu-btn {
    text-align: center;
    background: #00cb8c;
    color: #fff;
    border-radius: 20px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    height: 100%;
}


/* || Main */

.section-1 {
    z-index: 10;
    background: #5c8296;
    background: url("../images/tapers.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    flex-basis: 84vh;
    padding-top: 20px;
    padding-bottom: 220px;
}

.section-1_inner {
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    width: 100%;
    color: #fff;
    text-align: center;
}

.section-1_header h2 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 7vw;
    margin: 0;
}

.section-1_footer p {
    text-align: center;
    font-size: 3vw;
    margin: 0;
}

.section-1_footer {
    margin: 10px 0;
}

.section-2 {
    width: 100%;
    height: 35px;
    background: rgb(110, 145, 147);
}

.section-2 p {
    position: relative;
    height: 100%;
    padding: 6px 0;
    text-align: center;
}

.section-3 {
    z-index: 10;
    background: #f52c52;
    width: 100%;
    height: 770px;
}

.section-3--div {
    height: 140px;
    text-align: center;
    padding: 80px 0 20px;
}

.section-3--div h2 {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 46px;
}

.panel-wrapper {
    display: flex;
    height: 60%;
    padding: 40px 0;
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.panel {
    background: #fff;
    flex: 1;
    width: 100%;
    margin: 0;
    border-radius: 10px;
    margin: 0px 10px;
}


/* || responsive */

@media screen and (min-width: 767px) {
    .section-1_header h2 {
        font-size: 48px;
    }
    .section-1_footer p {
        font-size: 22px;
    }
}