/* || general setup */


/*acutalizar*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    width: 100%;
}

h3 {
    color: #000;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

textarea {
    overflow: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.rubik {
    font-family: 'Rubik', sans-serif;
}

.bold {
    font-weight: bold;
}

.cursive {
    font-style: italic;
}

.btn {
    color: #fff;
    border-radius: 20px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 5px 15px;
}

.background-green {
    background: #00cb8c;
}

.background-gray {
    background: #d7d7d7;
}

.background-darkgray {
    background: #626261;
}

.background-yellow {
    background: #fff152;
}

.background-none_border-solid {
    background: none;
    border: 1px solid #fff;
}

@media screen and (min-width: 768px) {
    .wrapper {
        display: grid;
        width: 100%;
        margin: 0 auto;
        justify-items: stretch;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 16vh auto 40vh;
    }
    .main {
        grid-column: 1 / span 12;
        grid-row: 2 / 3;
        background: #5c8296;
        display: flex;
        flex-direction: column;
    }
    .footer {
        background-color: #000;
        grid-row: 3;
        grid-column: 1 / span 12;
        color: #fff;
    }
}