/*acutalizaar*/

.section {
    width: 100%;
    padding: 75px 0 85px;
}

.section-inner {
    display: flex;
    flex-direction: column;
    margin: 0 120px;
    padding: 0 15px;
}

.section-header {
    flex-basis: 80px;
    margin-bottom: 40px;
}

.section-header h2 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 46px;
    color: #fff;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.section-header p {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 2vw;
    margin: 0;
}

.panel-wrapper {
    display: flex;
    width: 100%;
    margin: auto;
}

.panel {
    background: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    border-radius: 5px;
    margin: 0px 10px;
    padding: 40px;
}

.panel-header {
    flex-basis: 20%;
}

.panel-content {
    flex-basis: 60%;
}

.panel-footer {
    flex-basis: 20%;
}

.panel-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.section-footer {
    flex-basis: 80px;
}

.section-2 {
    width: 100%;
    background: #f52c52;
}

.section-2 p {
    position: relative;
    color: #fff;
    font-size: 16px;
    height: 100%;
    padding: 6px 0;
    text-align: center;
}

.panel h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 27px;
    color: #626261;
}

.panel p {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #959595;
}

@media screen and (min-width: 768px) {
    .section {
        width: 100%;
        padding: 75px 0 85px;
    }
    .section-inner {
        display: flex;
        flex-direction: column;
        margin: 0 120px;
        padding: 0 15px;
    }
    .section-header {
        flex-basis: 80px;
        margin-bottom: 40px;
    }
    .section-header h2 {
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        font-size: 46px;
        color: #fff;
        margin: 0;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .section-header p {
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        font-size: 2vw;
        margin: 0;
    }
    .panel-wrapper {
        display: flex;
        width: 100%;
        margin: auto;
    }
    .panel {
        background: #fff;
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60vh;
        border-radius: 5px;
        margin: 0px 10px;
        padding: 40px;
    }
    .panel-header {
        flex-basis: 20%;
    }
    .panel-content {
        flex-basis: 60%;
    }
    .panel-footer {
        flex-basis: 20%;
    }
    .panel-btn {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .section-footer {
        flex-basis: 80px;
    }
    .section-2 {
        width: 100%;
        background: #f52c52;
    }
    .section-2 p {
        position: relative;
        color: #fff;
        font-size: 16px;
        height: 100%;
        padding: 6px 0;
        text-align: center;
    }
}